*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 2px solid green;
    padding: 50px;
    border-radius: 10px;
}

form>h1{
    text-align: center;
}

input{
    padding: 10px 20px;
    border: 2px solid green;
    border-radius: 8px;
    color: green;
    font-size: 20px;
}

label{
    font-size: 18px;
}

.signUp{
    padding: 10px 20px;
    border: 2px solid green;
    color: green;
    background: white;
    border-radius: 8px;
    transition: all 0.4s ease-in-out ;
    font-size: 20px;
}

.signUp:hover{
    color: white;
    background: green;
}

.signIn{
    padding: 10px 20px;
    border: 2px solid crimson;
    color: crimson;
    text-align: center;
    background: white;
    border-radius: 8px;
    transition: all 0.4s ease-in-out ;
    font-size: 20px;
    text-decoration: none;
}

.signIn:hover{
    color: white;
    background: crimson;
}



@media only screen and (max-width:400px){
    h1{
        font-size: 20px;
        margin-bottom: 19px;
    }

    form{
        width: 350px;
        margin: 10px auto;
    }
    

    input{
        padding: 8px 16px;
        border: 2px solid green;
        border-radius: 8px;
        color: green;
        font-size: 14px;
    }

    lebel{
        font-size: 12px;
    }

}